extends base
block content

  section.section__inner
    if (complaints.length >=1)
      .table 
        section.table__header-complaint 
          h2.heading-secondary Complaint Reports 
          form.form-sort
              .select-group 
                p Look for
                select#sort-type-one
                  option(value="all") All
                  option(value="crimeDate") Date
                  option(value="status") Status
                  option(value="policeStation") Police Station
                  option(value="crimeType") Crime Type
                select#sort-type-two
                input.btn-sort(type="submit" value="Show")
        section.table__body 
          table
            thead 
              tr 
                th Sr. No.
                th Logged By
                th Reported On
                th Date of Crime 
                th Police Station 
                th Status
                th Action
            tbody
              each complaint,i in complaints
                tr 
                  td= i+1
                  if (complaint.complainer === null)
                    td= complaint.fullName
                    td= complaint.complainedDate.toLocaleDateString('en-us')
                    td= complaint.crimeDate.toLocaleDateString("en-us")
                    td= complaint.policeStation
                    td= complaint.status
                    td: a.cta(href=`/all-complaints/${complaint._id}`) View
                  else 
                    td: a.user(href=`/user/${complaint.complainer._id}`)= complaint.fullName
                    td= complaint.complainedDate.toLocaleDateString('en-us')
                    td= complaint.crimeDate.toLocaleDateString("en-us")
                    td= complaint.policeStation
                    td= complaint.status
                    td: a.cta(href=`/all-complaints/${complaint._id}`) View
    else
      p.complaint__msg No registered complaint found.
