extends base
block content 

  main.main
    if (complains.length >=1) 
      .table 
        section.table__header
          h2.heading-secondary complaint reports 
        section.table__body 
            table.table__user__complaints
              thead
                tr
                  th Sr. No.
                  th Reported On
                  th Description
                  th Police Station
                  th Phone No.
                  th Status
              tbody 
                each complain,i in complains 
                  tr 
                    td= i+1
                    td= complain.complainedDate.toLocaleDateString("en-us")
                    td= complain.crimeDescription
                    td= complain.policeStation
                    td= complain.contactNumber
                    td= complain.status
    else 
     p.complaint__msg You haven't registered complaint yet.